@model HistoryOfComputers.Models.Article
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}



<h2 class="text-center" id="article-title">@Html.DisplayFor(model => model.Title)</h2>
<div class="row article-details">
    <div class="col-md-3 col-md-offset-2" id="">
        <img class="img-responsive" src="~/images/@Html.DisplayFor(model => model.Image)">
    </div>
    <div class="col-md-5">
        <h3 id="article_year">@Html.DisplayFor(model => model.Year)</h3>
        <p id="article_body">
            @Html.DisplayFor(model => model.Body)
        </p>
    </div>
</div>
<hr />

<div class="row article-details">
    <div class="col-md-3 col-md-offset-2">
        <form asp-action="AddComment" asp-controller="Article" method="post">
            <input type="hidden" id="UserID" name="UserID" value="@UserManager.GetUserId(User)" />
            <input type="hidden" id="DateCreated" name="DateCreated" value="@DateTime.Now.ToString("yyyy/MM/dd H:mm:ss")" />
            <input type="hidden" id="UserName" name="UserName" value="@UserManager.GetUserName(User)" />
            <input type="hidden" asp-for="ArticleID" />
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" name="CommentText" id="CommentText"></textarea>

                <button type="submit" class="btn post-button">Post</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">

        <div>
            @{
                List<Comment> comments = ViewBag.Comments;
                foreach (var comment in comments)
                {
                    var username = comment.UserName;
                    var index = username.IndexOf("@");

                        <div class="thumbnail" id="comment">
                        <p><em>@username.Substring(0, index)</em><p/>
                        <p>@comment.CommentText</p>
                        <p style="font-size:10px;"> @comment.DateCreated</p>
                    </div>


                }

            }
           
        </div>
    </div>

</div>